<footer>
 <h2>Created by Team R2D2</h2>
 <img src="/images/R2D2.jpg" alt="Devacademy" width="100" height="100" style="position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  margin-right: 100px;
 ">
</footer>