<nav>
  <a class="nav-item" href="/schedule/friday">friday</a>
  <a class="nav-item" href="/schedule/saturday">saturday</a>
  <a class="nav-item" href="/schedule/sunday">sunday</a>
  <a class="nav-item" href="/locations">view locations</a>
</nav>