<div class="card">
  <img src="{{image}}" alt="card image">
  <h1 id="cardName">{{name}}</h1>
</div>

<div id="yesForm" class="cardButton">
  <form method="POST" action="/card/not-select" class="form" id="no">
    <input type="hidden" name="id" value="{{id}}">
    <div></div>
    <button>No</button>
  </form>
</div>

<div id="noForm" class="cardButton">
  <form method="POST" action="/card/select" class="form" id="yes">
    <input type="hidden" name="id" value="{{id}}">
    <div></div>
    <button>Yes</button>
  </form>
</div>