

<div class="card">
  
  <img src="{{image}}" alt="card image">
  <h1>{{name}}</h1>

 
</div>

<div class="cardsButtons">

 <form method="POST" action="/card/not-select" class="form" id="left">
    <input type="hidden" name="id" value="{{id}}">
    <div></div>
    <button>No</button>
  </form>

  <form method="POST" action="/card/select" class="form" id"right">
    <input type="hidden" name="id" value="{{id}}">
    <div></div>
    <button>Yes</button>
  </form>
  </div>